<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kanban{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascript %}
            {{ encore_entry_script_tags('vue') }}
{% endblock %}
    </body>
</html>
