{% extends 'base.html.twig' %}
{% block body %}
    {{ encore_entry_script_tags('app') }}

    <div class="">
        <div id="table"></div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}